<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left"></a>
  <h1 class="title"><%=f_type%></h1>
</header>

<div class="page-content">
  <div class="event-detail-image" style="background: url(<%=pic%>) center center no-repeat">
    <div class="overlay-alpha"></div>
    <div class="overlay">
      <div class="left">
        <div class="name"><%= name%></div>
        <div class="desc"><%= f_desc%></div>
        <div class="create_time"><%= f_create_time%></div>
      </div>
      <div class="right">
        <div class="comment"><div class="icon"></div><div class="text"><%= comment_total%></div></div>
        <div class="love"><div class="icon loveme"></div><div class="text"><%= assist_total%></div></div>
      </div>
    </div>
  </div>

  <div class="event-detail-food">
    <div class="food"><%= foodname%></div>
    <div class="date"><span><%= f_date%></span>&nbsp;<span><%= f_people_count%></span>&nbsp;</div>
    <div class="followers"></div>
    <button class="btn btn-outlined action-btn" id="action-btn">Button</button>
  </div>

  <div class="event-detail-split"></div>

  <div class="event-detail-comment">
    <div class="icon"></div> <div style="position: absolute;color:#30c1be;left: 44px;top: 10px;font-size: 0.8em;">评论</div>
    <ul class="table-view items">

    </ui>
  </div>
</div>