<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left"></a>
  <h1 class="title"></h1>
</header>

<div class="page-content">
	<div class="publish">
		<form method="POST" id="publish_form">
		<div class="foodname">
			<input type="text" placeholder="菜名" name="foodname" id="publish_foodname"/>
		</div>
		
		<div class="people_count" style="display:none;">
			<input type="number" placeholder="人数" name="limit" id="publish_limit"/>
		</div>
		<div class="date">
			<input type="datetime-local" placeholder="时间" name="time" id="publish_time"/>
		</div>

		<input type="hidden" name="date" id="publish_date"/>
		<input type="hidden" name="type" id="publish_type"/>
		<input type="hidden" name="name" id="publish_user"/>
		<input type="hidden" name="pic" id="publish_pic"/>

		<div class="gellary">
			<canvas id="publish_canvas" class="plus pic" style="display:none;margin-right:1em;"></canvas>
			<div class="plus" >
				<div class="icon" id="publish_addicon">
					<!-- <input type="file" capture="camera" accept="image/*" id="takePicture"> -->
					<input type="file" id="publish_capture" name="pic" accept="image/*">
				</div>
			</div>
		</div>
		</form>
		<button class="btn btn-positive pbtn">发布</button>
	</div>

</div>