<header class="bar bar-nav">
  <a class="icon pull-left bar_title">个人中心</a>
  <a class="icon icon_menu pull-right"></a>
</header>


<div class="page-content">

	<div class="personal_name">
	    <div class="name"></div>
		<!-- <div class="ttitle">厨神</div> -->
		<div class="icon-wrapper">
			<div class="icon"></div>
		</div>
	</div>

	<div class="personal_seg">
		<div class="segmented-control">
		  <a class="control-item active" href="#item_want">
		    我是吃货
		  </a>
		  <a class="control-item" href="#item_give">
		    我是厨神
		  </a>
		  <a class="control-item" href="#item_together">
		    我的拼菜
		  </a>
		</div>
		<div class="card" style="margin: 10px 0; border:none !important">

		  <ul class="table-view control-item_want" style="display:block">
        　　<li class="hide" style="margin-top: -20px;font-size:0.8em !important;">您还没有想吃记录！</li>
		  </ul>
		  <ul class="table-view control-item_give">
            　<li class="hide" style="margin-top: -20px;font-size:0.8em !important;">您还没有请客记录！</li>  
		  </ul>
		  <ul class="table-view control-item_together">
             <li class="hide" style="font-size:0.8em !important;">您还没有拼菜记录！</li>
		  </ul>
		</div>
	</div>

</div>
