<div class="back">返回</div>
<div align="center"><img src="image/logo.png" style="width: 100px;heigth:100px;margin-top: 1em;"></div>
<form class="input-group" style="margin-top: 20%;" id="signup_form">
  <input type="text" name="name" placeholder="姓名" style="height:50px !important;">
  <input type="password" name="pwd" placeholder="密码" style="height:50px !important;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
</form>

 <button class="btn btn-positive btn-block register-btn" style="margin-top:2em;">注册</button>
